<div class="container mt-4">
  <div class="jumbotron">
    <h1 class="display-4">Hello, welcome home!</h1>
    <p class="lead">The ScynettGhana approach to microfrontend and Angular.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis consectetur quaerat eveniet nobis eos voluptatum dolorum? Quam odit similique dicta nobis sed nihil deserunt ut hic quisquam earum. Ab, libero.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn More</a>
  </div>
</div>